table {

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.color {
  background-color: lightblue;
}

.board img {
  text-align: center;
  height: 17px;
  width: 17px;
  border-left-width: 50px;
}

.board-cell {
  text-align: center;
  height: 15px;
  border-left: 50px;
}


.hide {
  display: none;
}

.bombalert {
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}

.emoji img {
  text-align: center;
  height: 20px;
  width: 20px;

}



.title {
  text-align: center;
  border-radius: 5px;

  padding: 20px;
}

.LIVES {
  text-align: center;
}

.h3 {
  text-align: center;
}


.win {
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}

.lost {
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}